@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
//font-family: 'Roboto', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #24243e,
        #302b63,
        #0f0c29
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #24243e,
        #302b63,
        #0f0c29
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
body > * {
    font-family: 'Roboto', sans-serif;
    color: rgba(218, 219, 136, 0.959);
    font-size: 6rem;
}
#clock__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #423b90;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
}
